<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tawkto</name>
	<displayName>tawk.to</displayName>
	<version>1.6.1</version>
	<description>tawk.to live chat integration.</description>
	<author>tawk.to</author>
	<tab>front_office_features</tab>
	<confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>